h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:"Lato",sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    line-height:1.3;
    display:block
}
.breadcrumb,.header,.emergency,.site,.navigation,.background,.background .flavor,.footer,.bottom{
    width:100%;
    max-width:100%;
    background:#FFF
}
.breadcrumb:before,.header:before,.emergency:before,.site:before,.navigation:before,.background:before,.background .flavor:before,.footer:before,.bottom:before,.breadcrumb:after,.header:after,.emergency:after,.site:after,.navigation:after,.background:after,.background .flavor:after,.footer:after,.bottom:after{
    content:" ";
    display:table
}
.content{
    padding:3em;
    width:100%;
    max-width:1366px;
    margin:0 auto
}
.content:before,.content:after{
    content:" ";
    display:table
}
.header .content .quick .navigation,.navigation .content ul,.bottom .content .legal ul,.bottom .content .smicon ul{
    list-style:none;
    display:inline;
    display:inline-block;
    margin:0
}
.header .content .quick .navigation li,.navigation .content ul li,.bottom .content .legal ul li,.bottom .content .smicon ul li{
    display:inline;
    display:inline-block
}
.header .content .quick .navigation li a,.navigation .content ul li a,.bottom .content .legal ul li a,.bottom .content .smicon ul li a{
    display:inline-block
}
.row-inline{
    display:inline-block
}
.row-gutter{
    margin-left:-1.5em;
    margin-right:-1.5em
}
.row-gutter-sm{
    margin-left:-.5em;
    margin-right:-.5em
}
.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1,.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1{
    position:relative;
    min-height:1px
}
.row-gutter>.col-12,.row-gutter>.col-11,.row-gutter>.col-10,.row-gutter>.col-9,.row-gutter>.col-8,.row-gutter>.col-7,.row-gutter>.col-6,.row-gutter>.col-5,.row-gutter>.col-4,.row-gutter>.col-3,.row-gutter>.col-2,.row-gutter>.col-1,.row-gutter>.col-md-12,.row-gutter>.col-md-11,.row-gutter>.col-md-10,.row-gutter>.col-md-9,.row-gutter>.col-md-8,.row-gutter>.col-md-7,.row-gutter>.col-md-6,.row-gutter>.col-md-5,.row-gutter>.col-md-4,.row-gutter>.col-md-3,.row-gutter>.col-md-2,.row-gutter>.col-md-1,.row-gutter>.col-sm-12,.row-gutter>.col-sm-11,.row-gutter>.col-sm-10,.row-gutter>.col-sm-9,.row-gutter>.col-sm-8,.row-gutter>.col-sm-7,.row-gutter>.col-sm-6,.row-gutter>.col-sm-5,.row-gutter>.col-sm-4,.row-gutter>.col-sm-3,.row-gutter>.col-sm-2,.row-gutter>.col-sm-1{
    padding-left:1.5em;
    padding-right:1.5em
}
.row-gutter-sm>.col-12,.row-gutter-sm>.col-11,.row-gutter-sm>.col-10,.row-gutter-sm>.col-9,.row-gutter-sm>.col-8,.row-gutter-sm>.col-7,.row-gutter-sm>.col-6,.row-gutter-sm>.col-5,.row-gutter-sm>.col-4,.row-gutter-sm>.col-3,.row-gutter-sm>.col-2,.row-gutter-sm>.col-1,.row-gutter-sm>.col-md-12,.row-gutter-sm>.col-md-11,.row-gutter-sm>.col-md-10,.row-gutter-sm>.col-md-9,.row-gutter-sm>.col-md-8,.row-gutter-sm>.col-md-7,.row-gutter-sm>.col-md-6,.row-gutter-sm>.col-md-5,.row-gutter-sm>.col-md-4,.row-gutter-sm>.col-md-3,.row-gutter-sm>.col-md-2,.row-gutter-sm>.col-md-1,.row-gutter-sm>.col-sm-12,.row-gutter-sm>.col-sm-11,.row-gutter-sm>.col-sm-10,.row-gutter-sm>.col-sm-9,.row-gutter-sm>.col-sm-8,.row-gutter-sm>.col-sm-7,.row-gutter-sm>.col-sm-6,.row-gutter-sm>.col-sm-5,.row-gutter-sm>.col-sm-4,.row-gutter-sm>.col-sm-3,.row-gutter-sm>.col-sm-2,.row-gutter-sm>.col-sm-1{
    padding-left:.5em;
    padding-right:.5em
}
.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{
    float:left
}
.col-12{
    width:100%
}
.col-11{
    width:91.6667%
}
.col-10{
    width:83.3332%
}
.col-9{
    width:75%
}
.col-8{
    width:66.6665%
}
.col-7{
    width:58.3332%
}
.col-6{
    width:50%
}
.col-5{
    width:41.6665%
}
.col-4{
    width:33.3332%
}
.col-3{
    width:25%
}
.col-2{
    width:16.6665%
}
.col-1{
    width:8.3332%
}
@media print{
    .col-print-12{
        width:100%
    }
    .col-print-11{
        width:91.6667%
    }
    .col-print-10{
        width:83.3332%
    }
    .col-print-9{
        width:75%
    }
    .col-print-8{
        width:66.6665%
    }
    .col-print-7{
        width:58.3332%
    }
    .col-print-6{
        width:50%
    }
    .col-print-5{
        width:41.6665%
    }
    .col-print-4{
        width:33.3332%
    }
    .col-print-3{
        width:25%
    }
    .col-print-2{
        width:16.6665%
    }
    .col-print-1{
        width:8.3332%
    }
}
@media screen and (max-width: 1000px){
    .row-gutter{
        margin-left:-.75em;
        margin-right:-.75em
    }
    .row-gutter>.col-12,.row-gutter>.col-11,.row-gutter>.col-10,.row-gutter>.col-9,.row-gutter>.col-8,.row-gutter>.col-7,.row-gutter>.col-6,.row-gutter>.col-5,.row-gutter>.col-4,.row-gutter>.col-3,.row-gutter>.col-2,.row-gutter>.col-1,.row-gutter>.col-md-12,.row-gutter>.col-md-11,.row-gutter>.col-md-10,.row-gutter>.col-md-9,.row-gutter>.col-md-8,.row-gutter>.col-md-7,.row-gutter>.col-md-6,.row-gutter>.col-md-5,.row-gutter>.col-md-4,.row-gutter>.col-md-3,.row-gutter>.col-md-2,.row-gutter>.col-md-1,.row-gutter>.col-sm-12,.row-gutter>.col-sm-11,.row-gutter>.col-sm-10,.row-gutter>.col-sm-9,.row-gutter>.col-sm-8,.row-gutter>.col-sm-7,.row-gutter>.col-sm-6,.row-gutter>.col-sm-5,.row-gutter>.col-sm-4,.row-gutter>.col-sm-3,.row-gutter>.col-sm-2,.row-gutter>.col-sm-1{
        padding-left:.75em;
        padding-right:.75em
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.6667%
    }
    .col-md-10{
        width:83.3332%
    }
    .col-md-9{
        width:75%
    }
    .col-md-8{
        width:66.6665%
    }
    .col-md-7{
        width:58.3332%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.6665%
    }
    .col-md-4{
        width:33.3332%
    }
    .col-md-3{
        width:25%
    }
    .col-md-2{
        width:16.6665%
    }
    .col-md-1{
        width:8.3332%
    }
}
@media screen and (max-width: 800px){
    .row-gutter{
        margin-left:-.5em;
        margin-right:-.5em
    }
    .row-gutter>.col-12,.row-gutter>.col-11,.row-gutter>.col-10,.row-gutter>.col-9,.row-gutter>.col-8,.row-gutter>.col-7,.row-gutter>.col-6,.row-gutter>.col-5,.row-gutter>.col-4,.row-gutter>.col-3,.row-gutter>.col-2,.row-gutter>.col-1,.row-gutter>.col-md-12,.row-gutter>.col-md-11,.row-gutter>.col-md-10,.row-gutter>.col-md-9,.row-gutter>.col-md-8,.row-gutter>.col-md-7,.row-gutter>.col-md-6,.row-gutter>.col-md-5,.row-gutter>.col-md-4,.row-gutter>.col-md-3,.row-gutter>.col-md-2,.row-gutter>.col-md-1,.row-gutter>.col-sm-12,.row-gutter>.col-sm-11,.row-gutter>.col-sm-10,.row-gutter>.col-sm-9,.row-gutter>.col-sm-8,.row-gutter>.col-sm-7,.row-gutter>.col-sm-6,.row-gutter>.col-sm-5,.row-gutter>.col-sm-4,.row-gutter>.col-sm-3,.row-gutter>.col-sm-2,.row-gutter>.col-sm-1{
        padding-left:.5em;
        padding-right:.5em
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.6667%
    }
    .col-sm-10{
        width:83.3332%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.6665%
    }
    .col-sm-7{
        width:58.3332%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.6665%
    }
    .col-sm-4{
        width:33.3332%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.6665%
    }
    .col-sm-1{
        width:8.3332%
    }
}
.row-gutter:before,.row-gutter:after,.row-gutter-sm:before,.row-gutter-sm:after,.row-inline:before,.row-inline:after,.row:before,.row:after{
    content:" ";
    display:table
}
.row-gutter:after,.row-gutter-sm:after,.row-inline:after,.row:after{
    clear:both
}
.list-1,.list-2,.list-3,.list-4{
    -moz-column-gap:3em;
    -webkit-column-gap:3em;
    -ms-column-gap:3em;
    column-gap:3em
}
.list-1{
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1
}
.list-2{
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2
}
.list-3{
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3
}
.list-4{
    -moz-column-count:4;
    -webkit-column-count:4;
    column-count:4
}
@media print{
    .list-print-1{
        -moz-column-count:1;
        -webkit-column-count:1;
        -ms-column-count:1;
        column-count:1
    }
    .list-print-2{
        -moz-column-count:2;
        -webkit-column-count:2;
        -ms-column-count:2;
        column-count:2
    }
    .list-print-3{
        -moz-column-count:3;
        -webkit-column-count:3;
        -ms-column-count:3;
        column-count:3
    }
    .list-print-4{
        -moz-column-count:4;
        -webkit-column-count:4;
        -ms-column-count:4;
        column-count:4
    }
}
@media screen and (max-width: 1000px){
    .list-1,.list-2,.list-3,.list-4{
        -moz-column-gap:1.5em;
        -webkit-column-gap:1.5em;
        -ms-column-gap:1.5em;
        column-gap:1.5em
    }
    .list-md-1{
        -moz-column-count:1;
        -webkit-column-count:1;
        -ms-column-count:1;
        column-count:1
    }
    .list-md-2{
        -moz-column-count:2;
        -webkit-column-count:2;
        -ms-column-count:2;
        column-count:2
    }
    .list-md-3{
        -moz-column-count:3;
        -webkit-column-count:3;
        -ms-column-count:3;
        column-count:3
    }
    .list-md-4{
        -moz-column-count:4;
        -webkit-column-count:4;
        -ms-column-count:4;
        column-count:4
    }
}
@media screen and (max-width: 800px){
    .list-1,.list-2,.list-3,.list-4{
        -moz-column-gap:1em;
        -webkit-column-gap:1em;
        -ms-column-gap:1em;
        column-gap:1em
    }
    .list-sm-1{
        -moz-column-count:1;
        -webkit-column-count:1;
        -ms-column-count:1;
        column-count:1
    }
    .list-sm-2{
        -moz-column-count:2;
        -webkit-column-count:2;
        -ms-column-count:2;
        column-count:2
    }
    .list-sm-3{
        -moz-column-count:3;
        -webkit-column-count:3;
        -ms-column-count:3;
        column-count:3
    }
    .list-sm-4{
        -moz-column-count:4;
        -webkit-column-count:4;
        -ms-column-count:4;
        column-count:4
    }
}
[type="submit"],.btn-primary,.btn-default,.btn-success,.btn-danger,.btn-warning,.btn-info,.btn{
    text-decoration:none;
    display:inline-block;
    border:1px solid transparent;
    background:#000;
    font-weight:normal;
    font-size:1em;
    font-family:"Lato",sans-serif;
    padding:.325em .85em;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    cursor:pointer;
    line-height:1.65em;
    -webkit-transition:background 0.15s ease,color 0.15s ease,transform 0.15s ease;
    -moz-transition:background 0.15s ease,color 0.15s ease,transform 0.15s ease;
    -ms-transition:background 0.15s ease,color 0.15s ease,transform 0.15s ease;
    -o-transition:background 0.15s ease,color 0.15s ease,transform 0.15s ease;
    transition:background 0.15s ease,color 0.15s ease,transform 0.15s ease;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    vertical-align:middle;
    text-align:center
}
[type="submit"],.btn-primary,.btn-default,.btn-success,.btn-danger,.btn-warning,.btn-info,[type="submit"]:visited,.btn-primary:visited,.btn-default:visited,.btn-success:visited,.btn-danger:visited,.btn-warning:visited,.btn-info:visited,.btn,.btn:visited{
    color:#FFF
}
.disabled[type="submit"],.disabled.btn-primary,.disabled.btn-default,.disabled.btn-success,.disabled.btn-danger,.disabled.btn-warning,.disabled.btn-info,.btn.disabled{
    cursor:not-allowed;
    border-color:transparent !important
}
[type="submit"],.btn-primary{
    background:#1b6ec2
}
[type="submit"]:hover,[type="submit"]:focus,[type="submit"]:active,[type="submit"].active,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active{
    background:#FFF;
    color:#1b6ec2;
    border-color:#1b6ec2
}
[type="submit"].disabled,.btn-primary.disabled{
    color:#606060;
    border:1px solid #999;
    background:rgba(238,238,238,0.5)
}
.btn-default{
    background:#FFF;
    border:1px solid #999
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active{
    background:rgba(238,238,238,0.75);
    border-color:#ccc
}
.btn-default.disabled{
    color:#606060;
    background:rgba(238,238,238,0.5)
}
.btn-default,.btn-default:visited{
    color:#232323
}
.btn-success{
    background:#008000
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active{
    background:#FFF;
    border-color:#008000;
    color:#008000
}
.btn-success.disabled{
    color:#606060;
    border:1px solid #999;
    background:rgba(238,238,238,0.5)
}
.btn-danger{
    background:#D50000
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active{
    background:#FFF;
    border-color:#D50000;
    color:#D50000
}
.btn-danger.disabled{
    color:#606060;
    border:1px solid #999;
    background:rgba(238,238,238,0.5)
}
.btn-warning{
    background-color:#f4d03f;
    color:#000;
    border:1px solid #999
}
.btn-warning:visited{
    color:#000
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active{
    background:#FFF;
    color:#8d6708;
    border-color:#8d6708
}
.btn-warning.disabled{
    color:#606060;
    border:1px solid #999;
    background:rgba(238,238,238,0.5)
}
.btn-info{
    background-color:#8cd2e7;
    color:#000;
    border:1px solid #999
}
.btn-info:visited{
    color:#000
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active{
    background:#FFF;
    color:#217e9b;
    border-color:#217e9b
}
.btn-info.disabled{
    color:#606060;
    border:1px solid #999;
    background:rgba(238,238,238,0.5)
}
.btn-link{
    color:#337ab7;
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-link:hover,.btn-link:focus,.btn-link:active,.btn-link.active{
    color:#2a6496;
    text-decoration:underline
}
.btn-link.disabled{
    color:#606060;
    text-decoration:none
}
.btn-lg{
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}
.btn-sm,.btn-xs{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-xs{
    padding:1px 5px
}
.btn-block{
    display:block
}
.btn-block+.btn-block{
    margin-top:5px
}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{
    width:100%
}
.btn-group,.btn-group-vertical{
    position:relative;
    display:inline-block;
    vertical-align:middle
}
.btn-group>.btn,.btn-group-vertical>.btn{
    position:relative;
    float:left
}
.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active{
    z-index:2
}
.btn-group>.btn:focus,.btn-group-vertical>.btn:focus{
    outline:none
}
.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{
    margin-left:-1px
}
.btn-toolbar:before,.btn-toolbar:after{
    content:" ";
    display:table
}
.btn-toolbar:after{
    clear:both
}
.btn-toolbar .btn-group{
    float:left
}
.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group,.btn-toolbar>.btn-group+.btn-group{
    margin-left:5px
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
    border-radius:0
}
.btn-group>.btn:first-child{
    margin-left:0
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.btn-group>.btn-group{
    float:left
}
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{
    border-radius:0
}
.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle{
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.btn-group>.btn-group:last-child>.btn:first-child{
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{
    outline:0
}
.btn-group-xs>.btn{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px;
    padding:1px 5px
}
.btn-group-sm>.btn{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.btn-group-lg>.btn{
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}
.btn-group>.btn+.dropdown-toggle{
    padding-left:8px;
    padding-right:8px
}
.btn-group>.btn-lg+.dropdown-toggle{
    padding-left:12px;
    padding-right:12px
}
.btn-group.open .dropdown-toggle{
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn-group.open .dropdown-toggle.btn-link{
    -webkit-box-shadow:none;
    box-shadow:none
}
.alert-success,.alert-danger,.alert-warning,.alert-info,.alert,.alert-default{
    font-size:100%;
    padding:1em 1.5em;
    color:#000;
    background-color:#fcf8e3;
    border-color:#faebcc;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    margin-bottom:1em
}
.alert-success>p,.alert-danger>p,.alert-warning>p,.alert-info>p,.alert>p,.alert-default>p{
    margin-bottom:0
}
.alert-success>p+p,.alert-danger>p+p,.alert-warning>p+p,.alert-info>p+p,.alert>p+p,.alert-default>p+p{
    margin-top:1em
}
.alert-success{
    background-color:#dff0d8;
    border-color:#d6e9c6
}
.alert-danger{
    background-color:#f2dede;
    border-color:#ebccd1
}
.alert-warning{
    background-color:#fcf8e3;
    border-color:#faebcc
}
.alert-info{
    background-color:#d9edf7;
    border-color:#bce8f1
}
hr{
    border:0;
    border-top:.0689655172em solid #CCC;
    margin-bottom:1em
}
fieldset{
    min-width:0;
    min-height:20px;
    padding:1em 1.5em 0 1.5em;
    margin-bottom:20px;
    background-color:#f4faff;
    border:1px solid #e3e3e3;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
legend{
    font-size:175%;
    font-family:"EB Garamond",serif
}
input[type="checkbox"],input[type="radio"]{
    margin:-4px 4px 0 0;
    margin:-4px 0 0 0 \9;
    padding:0;
    border:0
}
input[type="radio"]{
    margin:-6px 4px 0 0;
    margin:-2px 0 0 0 \9
}
input[type="file"]{
    display:block
}
select[multiple],select[size]{
    height:auto
}
select optgroup{
    font-size:inherit;
    font-style:inherit;
    font-family:inherit
}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
    height:auto
}
input,select,textarea{
    font-size:1em;
    color:#555555;
    background:#FFF;
    vertical-align:middle;
    border:1px solid #cccccc;
    line-height:1.7879310345em;
    padding:.325em .85em;
    max-width:100%;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    -webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -moz-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -ms-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}
input[type="file"]{
    height:auto;
    background:#FFF
}
input[type="file"]::-webkit-file-upload-button{
    margin:.45em 0 .2em 0;
    top:-.125em;
    position:relative
}
select{
    height:2.5110344828em;
    background-color:#fff
}
input:focus,select:focus,textarea:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
input:-moz-placeholder{
    color:#767676
}
input::-moz-placeholder{
    color:#767676
}
input:-ms-input-placeholder{
    color:#767676
}
input::-webkit-input-placeholder{
    color:#767676
}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly],fieldset[disabled] input,fieldset[disabled] select,fieldset[disabled] textarea{
    cursor:not-allowed;
    background-color:#EEE
}
label.radio,label.checkbox{
    cursor:pointer
}
.label,.badge{
    display:inline-block;
    padding:2px 4px;
    font-size:11.844px;
    font-weight:bold;
    line-height:14px;
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    white-space:nowrap;
    vertical-align:baseline;
    background-color:#999999
}
.label{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.badge{
    padding-right:9px;
    padding-left:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    border-radius:9px
}
.label:empty,.badge:empty{
    display:none
}
a.label:hover,a.label:focus,a.badge:hover,a.badge:focus{
    color:#ffffff;
    text-decoration:none;
    cursor:pointer
}
.label-important,.badge-important{
    background-color:#b94a48
}
.label-important[href],.badge-important[href]{
    background-color:#953b39
}
.label-warning,.badge-warning{
    background-color:#f89406
}
.label-warning[href],.badge-warning[href]{
    background-color:#c67605
}
.label-success,.badge-success{
    background-color:#468847
}
.label-success[href],.badge-success[href]{
    background-color:#356635
}
.label-info,.badge-info{
    background-color:#3a87ad
}
.label-info[href],.badge-info[href]{
    background-color:#2d6987
}
.label-inverse,.badge-inverse{
    background-color:#333333
}
.label-inverse[href],.badge-inverse[href]{
    background-color:#1a1a1a
}
.table{
    width:100%;
    margin-bottom:20px;
    max-width:100%;
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0;
    margin-bottom:1em
}
.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{
    padding:.85em;
    vertical-align:top;
    border-top:1px solid #dddddd
}
.table>tbody>tr:nth-child(odd)>td{
    background-color:#f9f9f9
}
.table>thead>tr>th,.table>tbody>tr>th{
    padding:.85em;
    vertical-align:bottom;
    text-align:left;
    border-bottom:2px solid #dddddd;
    border-top:0;
    background:#0065a4;
    color:#FFF
}
.table>tbody>tr>th a{
    color:#FFF;
    text-decoration:underline
}
.table th>*:last-child,.table td>*:last-child{
    margin-bottom:0
}
.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th{
    background-color:#dff0d8
}
.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th{
    background-color:#d0e9c6
}
.table>thead>tr>td.info,.table>tbody>tr>td.info,.table>tfoot>tr>td.info,.table>thead>tr>th.info,.table>tbody>tr>th.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>tbody>tr.info>td,.table>tfoot>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr.info>th,.table>tfoot>tr.info>th{
    background-color:#d9edf7
}
.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th{
    background-color:#c4e3f3
}
.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th{
    background-color:#fcf8e3
}
.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th{
    background-color:#faf2cc
}
.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th{
    background-color:#f2dede
}
.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th{
    background-color:#ebcccc
}
ul,ol{
    margin-left:1.25em;
    margin-bottom:1em
}
.breadcrumb{
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    background:#EEE;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
ul.pagination{
    list-style:none;
    display:block;
    text-align:center;
    width:100%;
    margin:0 0 1em 0
}
ul.pagination li{
    display:inline-block;
    padding:.325em .85em;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    border:1px solid #CCC;
    background:#FFF;
    line-height:1.4;
    margin:0 .325em
}
ul.pagination li,ul.pagination li a{
    color:#000;
    display:inline-block;
    text-decoration:none
}
ul.pagination li a{
    display:inline-block;
    padding:.325em .85em;
    margin:-.325em -.85em
}
ul.pagination li.disabled{
    color:#CCC;
    cursor:not-allowed
}
ul.pagination li.separator{
    color:#777766;
    cursor:default
}
ul.pagination li.active{
    background:#0065a4
}
ul.pagination li.active,ul.pagination li.active a{
    color:#FFF
}
.breadcrumb ul.content{
    list-style:none;
    display:block;
    padding:0.325em 3em
}
.breadcrumb ul.content li{
    display:inline-block;
    padding:0;
    margin:0 .325em
}
.breadcrumb ul.content li:after{
    content:'/';
    color:#CCC;
    margin:0 0 0 .65em
}
.breadcrumb ul.content li:last-child:after{
    display:none
}
.breadcrumb ul.content li a{
    text-decoration:none
}
.well{
    padding:1em 1.5em 1em 1.5em;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    border:1px solid #CCC;
    background:#EEE;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
.well>*:last-child{
    margin-bottom:0
}
.pull-left,.pull-right{
    float:left;
    content:"";
    display:table;
    clear:both
}
.pull-right{
    float:right
}
.text-muted{
    color:#767676
}
.cms-chunk-class-highlight-gray .text-muted,.cms-chunk-class-highlight-blue .text-muted,fieldset .text-muted{
    color:#707070
}
.text-required,.req,.required{
    color:#DF0000
}
.text-left{
    text-align:left
}
.text-right{
    text-align:right
}
.text-center{
    text-align:center
}
.text-justify{
    text-align:justify
}
.text-nowrap{
    white-space:nowrap
}
.text-break{
    word-break:break-word
}
.text-lowercase{
    text-transform:lowercase
}
.text-uppercase{
    text-transform:uppercase
}
.text-capitalize{
    text-transform:capitalize
}
.text-nodecoration{
    text-decoration:none
}
.clear{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 1000px){
    .breadcrumb ul.content{
        padding:0.325em 1.5em
    }
}
@media screen and (max-width: 800px){
    input,select,textarea{
        width:100%;
        margin-bottom:.275862069em
    }
    input[type="checkbox"],input[type="radio"],[type="submit"]{
        width:auto;
        margin-bottom:auto
    }
    .breadcrumb ul.content{
        padding:0.325em 1em
    }
    .table.table-responsive,.table.table-responsive thead,.table.table-responsive tbody,.table.table-responsive th,.table.table-responsive td,.table.table-responsive tr{
        display:block;
        border:0
    }
    .table.table-responsive thead tr{
        position:absolute;
        top:-9999px;
        left:-9999px
    }
    .table.table-responsive tr{
        border:1px solid #CCC;
        margin-bottom:1em;
        box-shadow:2px 2px #EEE;
        margin-right:2px
    }
    .table.table-responsive td{
        position:relative;
        padding-left:50%
    }
    .table.table-responsive td:before{
        position:absolute;
        top:.75em;
        left:1em;
        width:35%;
        padding-right:1em;
        white-space:nowrap;
        overflow:hidden;
        font-weight:bold
    }
}
*{
    margin:0;
    padding:0;
    -ms-box-sizing:border-box;
    box-sizing:border-box
}
body{
    background:#FFF;
    color:#232323;
    line-height:1.75
}
body,form,table{
    font-family:"Lato",sans-serif;
    letter-spacing:.0344827586em
}
body,form,table,input{
    font-size:14.5px
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a{
    text-decoration:none
}
h1,h2.h1,h3.h1,h4.h1,h5.h1,h6.h1,.h1{
    font-family:"EB Garamond",serif;
    font-weight:normal;
    text-transform:none;
    letter-spacing:.0144827586em;
    font-size:289.6551724138%;
    padding-top:0;
    margin-bottom:.3452380952em;
    color:#000
}
h1.h2,h2,h3.h2,h4.h2,h5.h2,h6.h2,.h2{
    font-size:137.9310344828%;
    padding-top:.960625em;
    margin-bottom:.725em;
    letter-spacing:.0689655172em;
    color:#6a6a6a
}
h1.h3,h2.h3,h3,h4.h3,h5.h3,h6.h3,.h3{
    font-size:117.2413793103%;
    padding-top:1.1301470588em;
    margin-bottom:.8529411765em;
    letter-spacing:.0820689655em;
    color:#777767
}
.cms-chunk-class-highlight-blue h1.h3,.cms-chunk-class-highlight-blue h2.h3,.cms-chunk-class-highlight-blue h3,.cms-chunk-class-highlight-blue h4.h3,.cms-chunk-class-highlight-blue h5.h3,.cms-chunk-class-highlight-blue h6.h3,.cms-chunk-class-highlight-blue .h3,.cms-chunk-class-highlight-gray h1.h3,.cms-chunk-class-highlight-gray h2.h3,.cms-chunk-class-highlight-gray h3,.cms-chunk-class-highlight-gray h4.h3,.cms-chunk-class-highlight-gray h5.h3,.cms-chunk-class-highlight-gray h6.h3,.cms-chunk-class-highlight-gray .h3{
    color:#707061
}
.cms-chunk-class-highlight-gray .color-grey{
    color:#707070 !important
}
.cms-chunk-class-highlight-blue .color-grey{
    color:#707070 !important
}
h1.h4,h2.h4,h3.h4,h4,h5,h6,.h4,.h5,.h6{
    font-size:100%;
    padding-top:1.325em;
    margin-bottom:1em;
    letter-spacing:.09em;
    color:#777767
}
.cms-chunk-class-highlight-gray h1.h4,.cms-chunk-class-highlight-gray h2.h4,.cms-chunk-class-highlight-gray h3.h4,.cms-chunk-class-highlight-gray h4,.cms-chunk-class-highlight-gray h5,.cms-chunk-class-highlight-gray h6,.cms-chunk-class-highlight-gray .h4,.cms-chunk-class-highlight-gray .h5,.cms-chunk-class-highlight-gray .h6,.cms-chunk-class-highlight-blue h1.h4,.cms-chunk-class-highlight-blue h2.h4,.cms-chunk-class-highlight-blue h3.h4,.cms-chunk-class-highlight-blue h4,.cms-chunk-class-highlight-blue h5,.cms-chunk-class-highlight-blue h6,.cms-chunk-class-highlight-blue .h4,.cms-chunk-class-highlight-blue .h5,.cms-chunk-class-highlight-blue .h6{
    color:#707061
}
h1.sansserif,.h1.sansserif{
    font-family:"Lato",sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:172.4137931034%;
    padding-top:.7685em;
    margin-bottom:.58em;
    letter-spacing:.0862068966em
}
h2.serif,.h2.serif{
    font-family:"EB Garamond",serif;
    font-weight:normal;
    text-transform:none;
    font-size:241.3793103448%;
    padding-top:.5489285714em;
    margin-bottom:.4142857143em;
    letter-spacing:.0120689655em;
    color:#222
}
h3.serif,.h3.serif{
    font-family:"EB Garamond",serif;
    font-weight:normal;
    text-transform:none;
    font-size:193.1034482759%;
    padding-top:.6861607143em;
    margin-bottom:.5178571429em;
    letter-spacing:.0096551724em;
    color:#444
}
h4.serif,h5.serif,h6.serif,.h4.serif,.h5.serif,.h6.serif{
    font-family:"EB Garamond",serif;
    font-weight:normal;
    text-transform:none;
    font-size:144.8275862069%;
    padding-top:.9148809524em;
    margin-bottom:.6904761905em;
    letter-spacing:.0072413793em;
    color:#666
}
.sansserif{
    font-family:"Lato",sans-serif
}
.serif{
    font-family:"EB Garamond",serif
}
h1.padding-none,h2.padding-none,h3.padding-none,h4.padding-none,h5.padding-none,h6.padding-none,.h1.padding-none,.h2.padding-none,.h3.padding-none,.h4.padding-none,.h5.padding-none,.h6.padding-none{
    padding:0
}
h1.margin-none,h2.margin-none,h3.margin-none,h4.margin-none,h5.margin-none,h6.margin-none,.h1.margin-none,.h2.margin-none,.h3.margin-none,.h4.margin-none,.h5.margin-none,.h6.margin-none{
    margin:0
}
.color-black{
    color:#232323 !important
}
.color-orange{
    color:#b96900 !important
}
.color-grey{
    color:#767676 !important
}
.color-white{
    color:#fff !important
}
.color-inherit{
    color:inherit !important
}
p{
    margin-bottom:1em
}
img,svg{
    max-width:100%;
    height:auto;
    border:0
}
a{
    color:#0039c5
}
a:visited{
    color:#551a8b
}
a:focus,input:focus,textarea:focus,select:focus,[tabindex]:focus{
    outline:#0065a4 solid 3px !important;
    outline-offset:1px
}
.background a:focus,.header a:focus,header>a:focus,.showcase a:focus,.footer a:focus,.bottom a:focus,a:focus.focus-inverted,.focus-inverted a:focus,.header .quick .search .suggestion ul li.active a:focus,.background input:focus,.header input:focus,header>input:focus,.showcase input:focus,.footer input:focus,.bottom input:focus,input:focus.focus-inverted,.focus-inverted input:focus,.header .quick .search .suggestion ul li.active input:focus,.background textarea:focus,.header textarea:focus,header>textarea:focus,.showcase textarea:focus,.footer textarea:focus,.bottom textarea:focus,textarea:focus.focus-inverted,.focus-inverted textarea:focus,.header .quick .search .suggestion ul li.active textarea:focus,.background select:focus,.header select:focus,header>select:focus,.showcase select:focus,.footer select:focus,.bottom select:focus,select:focus.focus-inverted,.focus-inverted select:focus,.header .quick .search .suggestion ul li.active select:focus,.background [tabindex]:focus,.header [tabindex]:focus,header>[tabindex]:focus,.showcase [tabindex]:focus,.footer [tabindex]:focus,.bottom [tabindex]:focus,[tabindex]:focus.focus-inverted,.focus-inverted [tabindex]:focus,.header .quick .search .suggestion ul li.active [tabindex]:focus{
    outline-color:#9FCFEF !important
}
.background a:focus,.background input:focus,.background textarea:focus,.background select:focus,.background [tabindex]:focus{
    outline-color:#0065a4 !important
}
[href="#main"]{
    position:absolute;
    top:0;
    right:100%;
    z-index:9999
}
[href="#main"]:focus{
    right:auto;
    background:#FFF
}
.header{
    background:#0065a4;
    line-height:0
}
.header .content{
    padding-top:.65em;
    padding-bottom:.5em
}
.header .content .logo h1{
    font-size:inherit;
    margin:0
}
.header .content .logo img,.header .content .logo svg{
    width:80%;
    min-width:20.6896551724em
}
.header .content .quick{
    white-space:nowrap;
    text-align:right;
    padding-top:.1625em
}
.header .content .quick .navigation li:last-child{
    margin-right:1em
}
.header .content .quick .navigation li a{
    padding:.45em .65em;
    color:#9FCFEF;
    font-size:90%;
    text-decoration:none
}
.header .content .quick .search{
    display:inline-block;
    position:relative
}
.header .content .quick .search span{
    left:.85em;
    top:.65em;
    font-size:90%;
    position:absolute;
    color:#767676
}
.header .content .quick .search input{
    padding:.2em .5em .2em 2.5em;
    -webkit-border-radius:3.625px;
    -moz-border-radius:3.625px;
    -ms-border-radius:3.625px;
    border-radius:3.625px;
    border:.2068965517em solid #8FBFDF;
    border-left-color:#9FCFEF;
    border-bottom-color:#9FCFEF;
    font-size:90%;
    line-height:21px;
    width:18em;
    height:2.4em;
    vertical-align:middle
}
body.internal .header .content .quick .search input{
    border:.2068965517em solid #8FBFDF;
    border-left-color:#9FCFEF;
    border-bottom-color:#9FCFEF
}
.header .content .quick .search input::-webkit-input-placeholder{
    font-family:"Lato",sans-serif;
    letter-spacing:.0957854406em;
    font-size:90%;
    font-weight:bold;
    color:#767676;
    text-transform:uppercase
}
.header .content .quick .search input::-moz-placeholder{
    font-family:"Lato",sans-serif;
    letter-spacing:.0957854406em;
    font-size:90%;
    font-weight:bold;
    color:#767676;
    text-transform:uppercase
}
.header .content .quick .search input:-ms-input-placeholder{
    font-family:"Lato",sans-serif;
    letter-spacing:.0957854406em;
    font-size:90%;
    font-weight:bold;
    color:#767676;
    text-transform:uppercase
}
.header .content .quick .search button{
    padding:0;
    margin:0;
    width:0
}
.header .content .quick .search .suggestion{
    display:none
}
.emergency{
    background:#F00;
    color:#FFF;
    font-size:125%
}
.emergency .content{
    padding:2.4em
}
.emergency .content a{
    color:#FFF
}
.emergency .content>*:last-child,.emergency .content div>*:last-child{
    padding-bottom:0;
    margin-bottom:0
}
.site .content{
    padding-top:.65em;
    padding-bottom:.65em
}
.navigation{
    background:#f7f7f7;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding-top:0;
    padding-bottom:0;
    position:relative;
    z-index:9999
}
.navigation .content{
    padding-top:0;
    padding-bottom:0
}
.navigation .content ul{
    font-size:110%;
    margin:0 -.5909090909em
}
.navigation .content ul>li{
    position:relative
}
.navigation .content ul>li a{
    padding:.5909090909em;
    text-decoration:none
}
.navigation .content ul>li a .fa{
    margin-left:.125em
}
.navigation .content ul>li ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#e1e1e1;
    z-index:9998;
    margin:0;
    width:auto;
    width:350px;
    font-size:14.5px
}
.navigation .content ul>li ul>li{
    display:block
}
.navigation .content ul>li ul>li a{
    line-height:1.4;
    display:block
}
.navigation .content ul>li ul>li:hover{
    background:#ededed
}
.navigation .content ul>li.selected{
    background:#e1e1e1
}
.navigation .content ul>li.selected ul{
    display:block
}
.navigation.navigation-mobile{
    display:none
}
.navigation.navigation-mobile,.navigation.navigation-vertical{
    border:none
}
.navigation.navigation-mobile .content ul,.navigation.navigation-vertical .content ul{
    display:block;
    width:auto;
    margin:1em
}
.navigation.navigation-mobile .content ul>li,.navigation.navigation-vertical .content ul>li{
    position:static;
    display:block
}
.navigation.navigation-mobile .content ul>li a,.navigation.navigation-vertical .content ul>li a{
    width:100%;
    display:block
}
.navigation.navigation-mobile .content ul>li a .icon,.navigation.navigation-vertical .content ul>li a .icon{
    margin-left:.25em;
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg)
}
.navigation.navigation-mobile .content ul>li ul,.navigation.navigation-vertical .content ul>li ul{
    display:none;
    position:static;
    top:auto;
    left:auto;
    background:transparent;
    width:auto;
    margin:0 0 0 1em
}
.navigation.navigation-mobile .content ul>li ul>li:hover,.navigation.navigation-vertical .content ul>li ul>li:hover{
    background:transparent
}
.navigation.navigation-mobile .content ul>li.selected,.navigation.navigation-vertical .content ul>li.selected{
    background:transparent
}
.navigation.navigation-mobile .content ul>li.selected ul,.navigation.navigation-vertical .content ul>li.selected ul{
    display:block
}
.navigation.navigation-mobile .content ul>li.selected a .icon,.navigation.navigation-vertical .content ul>li.selected a .icon{
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
}
.background{
    position:relative;
    line-height:0
}
.background .image{
    overflow:hidden
}
.background .image video,.background .image img{
    width:100%
}
.background .flavor{
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    background:#0063ba;
    background:rgba(0,99,186,0.9);
    background:linear-gradient(to right, rgba(0,99,186,0.9), rgba(52,163,182,0.9));
    color:#FFF;
    font-family:"EB Garamond",serif;
    font-size:125%;
    line-height:1.4;
    z-index:70
}
.background .flavor .content{
    padding:.8em 2.4em
}
.background .flavor img,.background .flavor svg{
    max-width:100%;
    width:30%;
    height:auto
}
.background .flavor h2{
    font-size:150%;
    text-transform:uppercase;
    margin-top:-.2em;
    letter-spacing:.1551724138em;
    font-family:"Lato",sans-serif;
    font-weight:bold;
    margin:0;
    padding:0;
    color:#FFF
}
.background .flavor h2,.background .flavor h2 *{
    line-height:1.4
}
.background .flavor a{
    color:#FFF
}
.background .flavor p{
    max-height:7em;
    overflow:auto;
    margin:0
}
.background .flavor p a{
    text-decoration:underline
}
.background .flavor.flavor-sm p{
    max-height:2.8em
}
.background .flavor.flavor-md p{
    max-height:7em
}
.background .flavor.flavor-lg p{
    max-height:9.8em
}
.background .flavor.flavor-left,.background .flavor.flavor-right{
    bottom:3em;
    font-size:150%;
    width:auto
}
.background .flavor.flavor-left .content,.background .flavor.flavor-right .content{
    max-width:683px;
    margin:0;
    padding:1.3333333333em 2em
}
.background .flavor.flavor-left img,.background .flavor.flavor-left svg,.background .flavor.flavor-right img,.background .flavor.flavor-right svg{
    width:65%
}
.background .flavor.flavor-left{
    right:50%
}
.background .flavor.flavor-left .content{
    float:right
}
.background .flavor.flavor-right{
    left:50%
}
.background .flavor.flavor-theme-transparent{
    background:transparent
}
.background .flavor.flavor-theme-transparent img,.background .flavor.flavor-theme-transparent svg{
    -moz-filter:drop-shadow(.0551724138em .0551724138em .4413793103em #000);
    -webkit-filter:drop-shadow(.0551724138em .0551724138em .4413793103em #000);
    -ms-filter:drop-shadow(.0551724138em .0551724138em .4413793103em #000);
    filter:drop-shadow(.0551724138em .0551724138em .4413793103em #000)
}
.background .flavor.flavor-theme-transparent p{
    -moz-filter:drop-shadow(.0551724138em .0551724138em .1103448276em #000);
    -webkit-filter:drop-shadow(.0551724138em .0551724138em .1103448276em #000);
    -ms-filter:drop-shadow(.0551724138em .0551724138em .1103448276em #000);
    filter:drop-shadow(.0551724138em .0551724138em .1103448276em #000)
}
.content .content{
    padding-top:0;
    padding-left:0;
    padding-right:0
}
.footer{
    background:#383838;
    color:#CECDCD;
    font-size:90%
}
.footer .content{
    padding:3.3333333333em
}
.footer .content p{
    padding:0;
    margin:0
}
.footer .content a{
    color:#FFF
}
.footer .content .navigation{
    line-height:2.25em
}
.footer .content img{
    width:100%
}
.footer .content .ads{
    text-align:right
}
.bottom{
    background:#222;
    color:#CECDCD;
    font-size:90%;
    white-space:nowrap
}
.bottom .content{
    padding:1.6666666667em 3.3333333333em
}
.bottom .content a{
    color:#C9C9C9
}
.bottom .content .legal{
    float:left
}
.bottom .content .legal ul li{
    margin-right:2em;
    line-height:2.25em
}
.bottom .content .legal ul li:last-child{
    margin-right:0
}
.bottom .content .legal ul li.transparency{
    position:absolute;
    height:2.2988505747em;
    width:2.2988505747em
}
.bottom .content .legal ul li.transparency a{
    position:relative;
    top:-.125em;
    height:2.2988505747em;
    width:2.2988505747em
}
.bottom .content .legal ul li.transparency a img{
    width:100%
}
.bottom .content .legal ul li.transparency a:hover,.bottom .content .legal ul li.transparency a:focus{
    background-image:url(../img/trans_bubble.png);
    background-position:right bottom;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:-14.5593869732em;
    margin-left:-11.1111111111em;
    height:16.8582375479em;
    width:13.4099616858em
}
.bottom .content .legal ul li.transparency a:hover img,.bottom .content .legal ul li.transparency a:focus img{
    display:none
}
.bottom .content .smicon{
    float:right;
    text-align:right
}
.bottom .content .smicon ul li{
    margin-left:1.5em;
    font-size:1.5em;
    line-height:1.5em
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    border:0;
    left:-100%
}
@media screen and (max-width: 1280px){
    body,form,table,input{
        font-size:14.5px
    }
}
@media screen and (max-width: 1000px){
    .content{
        padding:1.5em
    }
    .header .content{
        padding-top:.65em;
        padding-bottom:.5em
    }
    .emergency{
        padding:1.2em
    }
    .background{
        padding:0
    }
    .background .navigation{
        font-size:90%
    }
    .background .navigation .content{
        padding:0 .9444444444em
    }
    .background .flavor{
        font-size:125%
    }
    .background .flavor img,.background .flavor svg{
        margin-top:-.3862068966em;
        min-width:none
    }
    .background .flavor,.background .flavor.flavor-left,.background .flavor.flavor-right{
        font-size:125%
    }
    .background .flavor .content,.background .flavor.flavor-left .content,.background .flavor.flavor-right .content{
        padding:.6248275862em 1.2em .85em 1.2em;
        max-width:none
    }
    .background .flavor.flavor-left,.background .flavor.flavor-right{
        bottom:0;
        right:0;
        left:0
    }
    .background .flavor.flavor-left img,.background .flavor.flavor-left svg,.background .flavor.flavor-right img,.background .flavor.flavor-right svg{
        width:30%
    }
    .footer .content{
        padding:1.6666666667em
    }
    .bottom .content{
        padding:1.6666666667em 1.6666666667em
    }
}
@media screen and (max-width: 800px){
    .content{
        padding:1em
    }
    .header .content{
        padding:0;
        margin:0
    }
    .header .content .logo h1{
        line-height:0;
        padding:0.65em 1em
    }
    .header .content .logo h1 img,.header .content .logo h1 svg{
        width:100%;
        max-width:19.4435862069em;
        min-width:0px
    }
    .header .content .logo div{
        float:left
    }
    .header .content .logo div:last-child{
        text-align:right;
        padding:0.325em .4em;
        margin:0
    }
    .header .content .logo div:last-child a{
        cursor:pointer;
        color:#FFF;
        font-size:225%;
        margin-right:.25em;
        text-decoration:none
    }
    body.hamburger-open .header .content .logo div:last-child a{
        color:#000
    }
    .header .content .quick{
        text-align:right;
        padding:0.65em 1em 0.65em .35em;
        width:auto;
        float:right;
        display:table
    }
    .header .content .quick .navigation{
        text-align:right;
        display:table-cell
    }
    .header .content .quick .search{
        text-align:left;
        display:table-cell
    }
    .header .content .quick .search input{
        width:100%;
        max-width:100%
    }
    .header .navigation.navigation-mobile{
        display:none
    }
    .header .navigation.navigation-mobile .content{
        padding:0
    }
    .header .navigation.navigation-mobile .content ul{
        font-size:100%;
        margin:0
    }
    .header .navigation.navigation-mobile .content ul>li a{
        padding:1.7586206897em 1em;
        margin:0;
        display:block
    }
    .header .navigation.navigation-mobile .content ul>li a .icon{
        line-height:0;
        -ms-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        transform:rotate(-90deg)
    }
    .header .navigation.navigation-mobile .content ul>li ul li a{
        padding-left:2em;
        line-height:0
    }
    .header .navigation.navigation-mobile .content ul>li.selected a .icon{
        -ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    body.hamburger-open .header .navigation-mobile{
        display:block
    }
    .emergency{
        padding:1em;
        font-size:100%
    }
    .background{
        padding:0
    }
    .background .navigation{
        display:none
    }
    .background #gv-flavorinfo{
        display:block;
        position:absolute;
        right:.6666666667em;
        bottom:0;
        font-size:150%;
        width:3.0344827586em;
        height:3.0344827586em;
        cursor:default
    }
    body.flavorinfo-open .background #gv-flavorinfo{
        bottom:auto;
        margin-top:-3.0344827586em
    }
    .background #gv-flavorinfo>span{
        position:absolute;
        bottom:0;
        right:0;
        color:#FFF;
        background:#31a0b6;
        border-radius:3px 3px 0 0;
        padding:.2em .25em;
        cursor:pointer
    }
    .background .flavor{
        margin-top:-1px
    }
    .background .flavor p{
        max-height:none
    }
    .background .flavor.flavor-sm p,.background .flavor.flavor-md p,.background .flavor.flavor-lg p{
        max-height:none
    }
    .background .flavor,.background .flavor.flavor-theme-transparent{
        background:#0063ba;
        background:linear-gradient(to right, #0063ba, #34a3b6)
    }
    .background .flavor,.background .flavor.flavor-left,.background .flavor.flavor-right{
        font-size:125%;
        position:static;
        right:auto;
        bottom:auto;
        left:auto;
        display:none
    }
    .background .flavor .content,.background .flavor.flavor-left .content,.background .flavor.flavor-right .content{
        padding:.8em;
        float:none
    }
    .background .flavor img,.background .flavor svg,.background .flavor.flavor-left img,.background .flavor.flavor-left svg,.background .flavor.flavor-right img,.background .flavor.flavor-right svg{
        margin:0;
        padding:0;
        max-width:12.6896551724em;
        width:65%
    }
    body.flavorinfo-open .background .flavor,body.flavorinfo-open .background .flavor.flavor-left,body.flavorinfo-open .background .flavor.flavor-right{
        display:block
    }
    .background .flavor.flavor-theme-transparent img,.background .flavor.flavor-theme-transparent svg,.background .flavor.flavor-theme-transparent p{
        -moz-filter:unset;
        -webkit-filter:unset;
        -ms-filter:unset;
        filter:unset
    }
    .footer .content{
        padding:1.1111111111em
    }
    .footer .content .ads{
        margin-top:1.1111111111em
    }
    .bottom{
        white-space:normal
    }
    .bottom .content{
        padding:.5555555556em 1.1111111111em
    }
    .bottom .content .smicon{
        text-align:center
    }
    .bottom .content .smicon ul{
        float:none
    }
    .bottom .content .smicon ul li{
        margin:0
    }
    .bottom .content .smicon ul li a{
        padding:.7222222222em
    }
    .bottom .content .smicon ul li:first-child{
        margin-left:0
    }
    .bottom .content .smicon ul li:last-child{
        margin-right:0
    }
    .bottom .content .legal{
        text-align:center
    }
    .bottom .content .legal ul{
        float:none
    }
    .bottom .content .legal ul li{
        margin:0.325em 1em
    }
    .bottom .content .legal ul li.transparency{
        margin:1.3em 0 0.65em 0;
        display:block;
        width:100%;
        float:right;
        text-align:center;
        line-height:0;
        position:static
    }
    .bottom .content .legal ul li.transparency a{
        float:none
    }
}
@media screen and (min-width: 1380px){
    body,form,table,input{
        font-size:15.5614934114px
    }
}
@media print{
    .hide-print{
        display:none !important
    }
}
@media print, screen and (min-width: 1001px){
    .hide-lg{
        display:none !important
    }
}
@media screen and (max-width: 1000px) and (min-width: 801px){
    .hide-md{
        display:none !important
    }
}
@media screen and (max-width: 800px){
    .hide-sm{
        display:none !important
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .background .flavor svg,.header .logo svg{
        width:100%;
        max-width:100%;
        height:1px;
        overflow:visible
    }
    .background .flavor svg{
        padding-bottom:11.43%
    }
    .header .logo svg{
        padding-bottom:8.7999943249%
    }
    input{
        height:2.5110344828em
    }
    input[type="radio"],input[type="checkbox"]{
        height:auto
    }
}
@media screen and (-ms-high-contrast: active) and (max-width: 1000px), screen and (-ms-high-contrast: none) and (max-width: 1000px){
    .background .flavor.flavor-left svg,.background .flavor.flavor-right svg{
        padding-bottom:3.429%;
        width:30%
    }
}
@media screen and (-ms-high-contrast: active) and (max-width: 800px), screen and (-ms-high-contrast: none) and (max-width: 800px){
    .header .logo svg{
        padding-bottom:3.5199977299%;
        max-width:19.4435862069em;
        min-width:0;
        width:100%
    }
}
@media screen and (-ms-high-contrast: active) and (max-width: 600px), screen and (-ms-high-contrast: none) and (max-width: 600px){
    .header .logo svg{
        padding-bottom:5.2799965949%
    }
}
.cms-chunk-full-width-image img{
    width:100%;
    max-width:none
}
.col-img{
    line-height:0;
    margin-bottom:1em
}
.col-img img{
    width:100%;
    max-width:none
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item,.chunk-module-accordion .chunk-module-accordion-item{
    border:1px solid #f5f5f5;
    margin-bottom:1em
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item>a,.chunk-module-accordion .chunk-module-accordion-item>a{
    display:block;
    background:#f5f5f5;
    padding:.625em;
    text-decoration:none
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item>a span,.chunk-module-accordion .chunk-module-accordion-item>a span{
    float:right;
    margin-top:.3125em
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item>div,.chunk-module-accordion .chunk-module-accordion-item>div{
    padding:.625em;
    display:none
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item>div *:last-child,.chunk-module-accordion .chunk-module-accordion-item>div *:last-child{
    margin-bottom:0
}
.chunk-custom-coloredaccordion .chunk-module-accordion-item.chunk-module-accordion-open>div,.chunk-module-accordion .chunk-module-accordion-item.chunk-module-accordion-open>div{
    display:block
}
.chunk-module-popular ul{
    list-style:none;
    margin:0
}
.chunk-module-popular .icon{
    text-decoration:none
}
.chunk-pullquote p{
    font-size:150%
}
.chunk-twitter .twitter-timeline{
    width:100%;
    max-width:100%;
    overflow:hidden
}
.chunk-twitter .twitter-timeline.twitter-timeline-rendered{
    width:100% !important;
    max-width:100% !important;
    overflow:hidden;
    min-width:100% !important
}
.chunk-twitter .twitter-timeline.twitter-timeline-rendered,.chunk-twitter .twitter-timeline.twitter-timeline-rendered *{
    white-space:normal !important
}
.chunk-video iframe,.chunk-video object,.chunk-video embed,.chunk-video img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none
}
.chunk-video img{
    height:auto
}
.chunk-video .chunk-video-inner{
    position:relative;
    padding-bottom:56.25%;
    height:0
}
.chunk-fact .icon{
    color:#0065A2
}
.cms-chunk-class-highlight-blue .chunk-inner{
    background:#eff6ff;
    padding:1em
}
.cms-chunk-class-highlight-blue .chunk-inner>*:last-child{
    margin-bottom:0
}
.cms-chunk-class-highlight-gray .chunk-inner{
    background:#f5f5f5;
    padding:1em
}
.cms-chunk-class-highlight-gray .chunk-inner>*:last-child{
    margin-bottom:0
}
.cms-chunk-class-center .chunk-inner{
    text-align:center
}
.chunk-margin{
    margin-bottom:1.5em
}
.chunk-module-gallery-slide-viewer{
    position:relative
}
.chunk-module-gallery-slide-image{
    width:100%;
    z-index:2
}
.chunk-module-gallery-slide-image,.chunk-module-gallery-slide-caption,.chunk-module-gallery-slide-loading{
    opacity:1;
    -webkit-transition:all 200ms cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -webkit-transition:all 200ms cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -moz-transition:all 200ms cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -o-transition:all 200ms cubic-bezier(0.625, 0.065, 0.15, 0.5);
    transition:all 200ms cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -webkit-transition-timing-function:cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -webkit-transition-timing-function:cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -moz-transition-timing-function:cubic-bezier(0.625, 0.065, 0.15, 0.5);
    -o-transition-timing-function:cubic-bezier(0.625, 0.065, 0.15, 0.5);
    transition-timing-function:cubic-bezier(0.625, 0.065, 0.15, 0.5)
}
.chunk-module-gallery-slide-loading{
    opacity:0;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%)
}
.chunk-module-gallery-slide-controls button{
    background-color:rgba(0,0,0,0.55);
    color:white;
    border:none;
    border-radius:2px;
    font-size:2em;
    cursor:pointer;
    padding:.25em;
    margin-top:-0.85em
}
.chunk-module-gallery-slide-controls-previous{
    position:absolute;
    top:50%;
    left:0
}
.chunk-module-gallery-slide-controls-next{
    position:absolute;
    top:50%;
    right:0
}
/*# sourceMappingURL=styles.css.map */
 